In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('clean_data.csv')

In [3]:
df.head()

,Age,Transaction_Count_30d,Mobile_App_Logins,Social_Media_Score,Monthly_Income,Total_Debt,Savings_Balance,Credit_Score,Debt_to_Income,Is_High_Risk,City_SAMARQAND,City_TOSHKENT,City_UNKNOWN,Gender_Male,Last_Loan_Status_In Progress,Last_Loan_Status_Paid,Last_Loan_Status_Unknown
0,56,88,18,75.759841,685.890070,45609.656078,2175.720442,385,5.540746,1,False,False,True,False,True,False,False
1,69,142,25,79.367816,1200.253941,37313.651220,15795.689669,794,2.590498,1,False,False,True,True,False,True,False
2,46,26,29,38.747638,1197.358489,42534.285531,2359.943407,539,2.960080,1,False,False,False,False,True,False,False
3,32,5,22,6.930618,1227.066948,42627.489789,11249.016576,373,2.894748,1,True,False,False,True,False,False,False
4,60,38,23,39.798200,980.643854,9631.844467,2721.247990,385,0.818427,1,True,False,False,False,False,False,True