In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('raw_data.csv')

In [4]:
data.head()

,Client_ID,Full_Name,City,Gender,Age,Education,Marital_Status,Monthly_Income,Secondary_Income,Monthly_Expenses,...,Home_Value,Dependents_Count,Digital_Wallet_User,Proposed_Interest_Rate,Decision,Disposable_Income,Debt_to_Income_Ratio,Client_Tenure_Days,Description_Word_Count,Is_Emergency
0,ID_0,Name_0,UNKNOWN,Female,26,PhD,Single,1102.824357,85.605919,356.892034,...,73725.748520,2,No,9.414575,0,831.538242,1.777123,2420,1,0
1,ID_1,Name_1,SAMARQAND,Male,53,PhD,Divorced,571.071555,67.197782,504.033877,...,37205.032774,4,No,17.287411,0,134.235461,3.664215,1047,2,0
2,ID_2,Name_2,TOSHKENT,Other,71,Bachelor,Single,929.402413,171.584647,276.175099,...,62611.154893,4,No,13.316776,0,824.811961,1.321974,424,2,0
3,ID_3,Name_3,ANDIJON,Female,54,High School,Divorced,935.537417,347.213245,374.975417,...,64215.668100,3,No,12.782790,0,907.775244,0.803845,2041,1,0
4,ID_4,Name_4,SAMARQAND,Female,28,High School,Single,652.556359,248.451750,453.925177,...,56292.134621,1,No,13.286702,0,447.082932,3.864640,2040,1,0